body {
    border-style: dotted;
    padding: 40px;
    background-color:black;
    font-family:FreeMono, monospace;
    color:white;
}

img {
    width: 200px;
    height: 200px;
}

.container {
    width: 57%;
    margin: auto;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
}

.img-container {
    display: inline-block;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
    margin: 5px 0;
}
